*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.navibar{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99;
}
.menu-navi-right{

    place-content: flex-end;
    margin-right: 75px;
}


.brand-nav{
    margin-left: 75px;
}



@media(max-width:763px)
{
    .brand-nav{
        margin-left:5px;
    }
}

.menu-navi-up{
    place-content: flex-end;
}

.menu-margin{
    margin-right:25px;
    font-weight: 500;
}

.menu-margin-end{
    font-weight: 500;
}


.slide{
    height: 645px;
    background-image: url(../img/top/slide-head.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.slide-cover{
    margin-top:172px;
}

.slide-cover-text{
    font-family: 'Gelasio', serif;
    font-size:38pt;
    color:#ffffff;
}



.slide-cover-smalltext{
    font-family: 'Gelasio', serif;
    font-size:16pt;
    color:#ffffff;
    margin-top:15px;
}

.form-slide{
    width: 100%;
    justify-content: space-around;
    margin-bottom: 18px;
}


.labelform{
    font-family: 'Gelasio', serif;
    font-size:16pt;
    color:#ffffff;
}

.form-input-el{
    border-bottom: solid 0.5px white;
    background-color: transparent;
    color: white;
    position: absolute;
    padding: 2px;
}

.input-field{
    background-color: transparent;
    border: none;
    outline: none;
}

@media (max-width:763px){
    .slide-cover-text{
        font-size: 16pt;
    }
    .slide-cover-smalltext{
        font-size: 11pt;
        margin-bottom: 20px;
    }

    .form-slide{
    flex-direction: column;
    align-items: center;
    }
    .labelform{
        font-size: 11pt;
    }
    .form-group{
        margin-bottom:10%;
        width: 90%;
    }
    .form-number{
        margin-bottom: 0;
    }

}


::placeholder{
    color:white;
}

.open-button{
    pointer-events: none;
    color: transparent;
    position: relative;
}

.button{
    background-color: transparent;
    border: none;
    color:white;
}

.fa-icon{
    font-size: 17pt;
    outline: none;
}


input[type="date"] {
    position: relative;
    padding: 0px;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
  }
  
  input[type="date"]:before {
    color: transparent;
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '';
    /* This is the calendar icon in FontAwesome */
    width: 15px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 6px;
    color: white;
  }

  .input-number{
      background-color: transparent;
      border:1px solid white;
      color: white;
  }

  .search-btn{
    height: 43px;
    width: 112px;
    align-self: center;
    margin-top: 17px;
    background-color: #d7d7d7;
  }

  .form-group{
      width: 194px;
  }


  .slide-movie{
      height: 647px;
      display: flex;
      
  }


  .welcome--artical{
      display: flex;
      flex-direction: column;
      padding: 75px;
  }

.welcome-stext{
    max-width: 360px;
    width:100%;
    height: 147px;
}

.welcome-paratext{
    color:#b9b9b9;
    text-align: center;
    z-index: 10;
}

.welcome-textenjoy{
    font-size: 45pt;
    z-index: 11;
    margin-top:-36px;
    line-height: 58px;
    margin-bottom: 30px;
}

.welcome--video{
    padding: 0;
    padding-top: 25px;
}

.welcome-video-img{
    width: 100%;
}

@media (max-width:763px){
    .slide-movie{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .welcome--artical{
        padding: 20px;
    }
    .welcome-textenjoy{
        text-align: center;
    font-size: 29pt;
    }
    .welcome--video{
        padding:0px;
    }
}


.nav-middle{
    height: 210px;
    display: flex;
    justify-content: space-between;
}

.nav-menu-middle{
    display: flex;
    font-size: 19pt;
    margin-top:52px;
}

.nav-link-hover:hover{
    color:green !important;
    text-decoration: underline;
}
.brand-middle-img{
    position: relative;
}
.brand-middle-title{
    margin-top: -86px;
    font-size: 47pt;
}


@media (max-width: 763px)
{
    .nav-menu-middle{
        align-items: flex-start;
        margin-top:0;
        line-height: 17pt;
    }
    .brand-middle-img{
        width: 200px;
    }
    .brand-middle-title{
        font-size: 27px;
        margin-top:-46px;
    }
    .carousel-inner{
        flex-direction: column;
        align-items: center;
    }
}

.slider-product{
    height: 526px;
}

.carousel{
    display: flex;
    justify-content: center;

}

.carousel-inner{
    display: flex;
    width: 90%;
    justify-content: center;
}


.card-text{
    color:#b1b1b1;
}

.btn-price{
    background: transparent;
    border: solid #c19b76;
    color: #c19b76;
    padding: 8px;
    border-radius: 12px;
    width: 100%;
}

.btn-price:hover{
    background-color: #c19b76;
    color:white;
}

.btn-price:focus{
    outline: 0;
}

.carousel-icon{
    background-color: #5ecb16;
    width: 40px;
    height: 50px;
}




.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}


.card-header{color:dodgerblue}

#navbar.scroll{
    background-color: #ffffffa1;
    padding:0px;
    transition: ease-in 0.7s;
}



.img-icon{
    width: 30px !important;
    display: inline !important;
}



.grid-info{
    height: 100%;
    min-height: 814px;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.card-grid{
    width: 315.7px;
    height: 407px;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.grid-img-icon{
    width:30%;
}

.grid-wrap > h5{
    color:white;
    font-weight: 500;
}


.grid-wrap{
    background-color: #00000073;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.promotion{
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promotion-text{
    margin-top: -53px;
    font-size: 46pt;
    font-weight: 650;
}


.schedule{
    height: 100%;
    min-height: 434px;
    flex-wrap: wrap;
    line-height: 24pt;
}



.calendar{
    width:140px;
    height: 140px;
    background-color: #5ecb16;
    align-items: center;
    line-height: 1;
    
}

.calendar:nth-child(1)
{
    margin-left: 5px ;
}

.calendar-number{
    color: white;
    font-size: 40pt;
    font-weight: 1000;
    font-family: serif;
}

.calendar-text{
    color: white;
    font-size: 15pt;
    font-weight: 500;
}

.calendar-text-new{
    color: white;
    font-size: 39pt;
    text-align: center;
    font-weight: 500;
}

@media (max-width:673px)
{
    .promotion-img{

        width: 333px;
    }

    .schedule{
        flex-wrap: unset;
        flex-direction: column;
    }
    .calendar{
        height: 90px;
    }
    .calendar-number{
        font-size:30pt;
    }
    .calendar-text{
        font-size: 10pt;
    }
    .calendar-text-new{
        font-size: 28pt;
    }
}

.google-map{
    display: flex;
    min-height: 350px;
    height: 100%;
}

.address{
    background-color: #7ed346;
    justify-content: center;
    display: flex;
    align-items: center;
}
.address-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.frame-map{

    width:100%;
    height:100%;
}

.btn-map{
    height: 55px;
    color: #7ed346;
}

@media (max-width:673px)
{
    .google-map{
        flex-direction: column;
    }
    .frame-map{
        height: 262px;
    }
    .address-wrap{
        height: 300px;
    }
    .bgfooter-wrapcolor{
        padding: 35px;
    }

    .lastdiv{
        flex-direction: column;
    }

    .last-text{
        margin-bottom: 49px;
        font-size: 11pt;
        margin-top: 26px;
    }
 
}

.footer{
    min-height: 100%;
    height: 491px;
    
}

.bgfooter-wrapcolor{
    background-color: #00000061;
    height: 100%;
}

hr{
    width: 48%;
    height: 1px;
    background-color: white;
}

.bgfooter-wrapcolor{
    color:white;
    align-items: center;
}

.footer-title{
    font-size: 36pt;
    font-weight: 500;
}

.lastdiv{
    height: 89px;
    align-items: center;
    justify-content: space-between;
}


.stick_one, .stick_second, .stick_third,.stick_fourth,
.stick_fifth{ 
    font-size: 15pt;
    border-bottom: 1px solid ;
    border-top: 1px solid ;
    position: fixed;
    top: 50%;
    right: 0;
    width: 10%;
    z-index: 9;
    padding: 12px;
    font-weight: 500;
    padding-left: 1px;
    color: #D2A257;
    transition: ease-in 0.5s;
}

.stick_one:after{
    white-space: pre;
    content:'Tìm Kiếm \A Kỳ Nghỉ';
    
}
.stick_second:after{
    white-space: pre;
    content:'Thưởng Thức \A Cuộc Sống';
}
.stick_third:after{
    white-space: pre;
    content:'Ý Tưởng Khu\A Nghĩ Dưỡng';
}
.stick_fourth:after{
    white-space: pre;
    content:'Tiện Ích\A Khách Sạn';
}
.stick_fifth:after{
    white-space: pre;
    content:'Lịch Trình';
}

@media (max-width: 673px)
{
    .stick_one, .stick_second, .stick_third,
    .stick_fourth, .stick_fifth{ 
        display: none;
    }
}
